RewriteCond %{REQUEST_URI} ^/(cfide\/administrator|CFIDE\/administrator|lucee\/admin)/.*$
RewriteRule ^(.*)$ index.cfm$1 [L]

RewriteCond %{REQUEST_URI} !^/(flex2gateway|flashservices/gateway|messagebroker|lucee|rest|cfide|CFIDE|cfformgateway|jrunscripts)/.*$
RewriteCond $1 !-f
RewriteCond $1 !-d
RewriteCond %{REQUEST_URI} !^/$
RewriteRule ^(.*)$ index.cfm$1 [L]
