RewriteCond %{REQUEST_URI} ^/(cfide\/administrator|CFIDE\/administrator|lucee\/admin)/.*$
RewriteRule ^(.*)$ 404.html [L]

RewriteCond %{REQUEST_URI} !^/(flex2gateway|flashservices/gateway|messagebroker|lucee|rest|cfide|CFIDE|cfformgateway|jrunscripts)/.*$
RewriteCond %{REQUEST_URI} !^.*\.(cfm|cfml|aac|abw|arc|avi|azw|bin|bmp|bz|bz2|csh|css|csv|doc|docx|eot|epub|es|gif|htm|html|ico|ics|jar|jpeg|jpg|js|json|mid|midi|mpeg|mpkg|odp|ods|odt|oga|ogv|ogx|otf|png|pdf|ppt|pptx|rar|rtf|sh|svg|swf|tar|tif|tiff|ts|ttf|txt|vsd|wav|weba|webm|webp|woff|woff2|xhtml|xls|xlsx|xml|xul|zip|3gp|3g2|7z)$
RewriteCond %{REQUEST_URI} !^/$
RewriteRule ^(.*)$ index.cfm$1 [L]
